{% extends "layout/main.html" %}
{% block content %}
<p>Create tournament:</p>
<form action="/tournament" method="post">
    <div class="form-group">
        <label for="name"></label>
        <input type="text" class="form-control" name="name" placeholder="Tournament name">
    </div>
    <div class="form-group">
        <label for="rounds"></label>
        <input type="number" class="form-control" name="rounds" placeholder="3">
    </div>
    <button type="submit" class="btn btn-primary">Create tournament</button>
</form>
{%- endblock %}
