{% extends "layout/main.html" %}
{%- block page_title %}{{ player.description() }}{%- endblock %}
{% block content %}
    {%- if player.signed() %}
    <div class="alert alert-primary">
        You have write permission for this player. The URL to this page is
        your <em>only</em> way of accessing it for writing, so don't lose it!
    </div>
    {%- endif %}
    <p>Participating in {{ player.tournament.link() }}.
    {%- if player.expelled %}
    Currently expelled from the tournament.
    {%- elif player.withdrawn %}
    Currently withdrawn from the tournament.
    {%- endif %}
    </p>
    {%- set games = player.games() %}
    {%- if games %}
    <ol>
        {%- for game in games %}
        <li>{{ game.link() }}</li>
        {%- endfor %}
    </ol>
    {%- else %}
    <p>No games paired.</p>
    {%- endif %}
{%- endblock %}
