{% extends "layout/main.html" %}
{%- block page_title %}{{ tournament.name }}{%- endblock %}
{% block content %}
    {%- if tournament.signed() %}
    <div class="alert alert-primary">
        You have write permission for this tournament. The URL to this page
        is your <em>only</em> way of accessing it for writing, so don't lose
        it!
    </div>
    {%- endif %}
    <p>Tournament played over {{ tournament.rounds }} rounds.</p>
    <h2>Players</h2>
{% set players = tournament.players() %}
{%- if players %}
    <ol>
    {%- for player in players %}
        <li><a href="{{ player.link() }}">{{ player.description() }}</a></li>
    {%- endfor %}
    </ol>
{%- else %}
    <p>No players registered.</p>
{%- endif %}
    <h2>Games</h2>
{% set games = tournament.games_by_round() %}
{%- if games %}
    {%- for round, round_games in games %}
    <h3>Round {{ round }}</h3>
    <ul>
        {%- for game in round_games %}
        <li><a href="{{ game.link() }}">{{ game.description() }}</a></li>
        {%- endfor %}
    </ul>
    {%- endfor %}
{%- else %}
    <p>No games paired.</p>
{%- endif %}
{%- endblock %}
