{% extends "layout/main.html" %}
{%- block page_title %}{{ tournament.name }}{%- endblock %}
{% block content %}
    {%- if tournament.signed() %}
    <div class="alert alert-primary">
        You have write permission for this tournament. The URL to this page
        is your <em>only</em> way of accessing it for writing, so don't lose
        it!
    </div>
    {%- endif %}
    <p>Tournament played over {{ tournament.rounds }} rounds.</p>
    <div class="card">
        <div class="card-header">
            <button class="btn btn-link" type="button" data-toggle="collapse"
                data-target="#collapse">Sign up</button>
        </div>
        <div class="collapse" id="collapse">
            <div class="card-body">
                <form>
                    <div class="row">
                        <div class="form-group col-sm-8">
                            <input type="text" class="form-control" name="name"
                                placeholder="Player name">
                        </div>
                        <div class="form-group col-sm-4">
                            <input type="number" class="form-control" name="rating"
                                placeholder="Rating">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Sign up</button>
                </form>
            </div>
        </div>
    </div>
    <h2>Players</h2>
{% set players = tournament.players() %}
{%- if players %}
    <ol>
    {%- for player in players %}
        <li>{{ player.link() }}</li>
    {%- endfor %}
    </ol>
{%- else %}
    <p>No players registered.</p>
{%- endif %}
    <h2>Games</h2>
{% set games = tournament.games_by_round() %}
{%- if games %}
    {%- for round, round_games in games %}
    <h3>Round {{ round }}</h3>
    <ul>
        {%- for game in round_games %}
        <li>{{ game.link() }}</li>
        {%- endfor %}
    </ul>
    {%- endfor %}
{%- else %}
    <p>No games paired.</p>
{%- endif %}
{%- endblock %}
